/* GENERAL */
input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
}

html, body{
  margin: 0;
  font-family: verdana;
  width: 100%;
}

body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: rgb(240,240,240);
  background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(255,255,255,1) 35%, rgba(250,250,250,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
  font-family: arial;
  margin-top : 0px;
  margin-bottom : 10px;
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #293f90;
}

h2{
  margin-top : 0px;
  margin-bottom : 7px;
  font-weight: bold;
  font-size: 1.4em;
}

label{
  margin-right: 3px;
}

.separator{
  width: 100%;
  height: 2px;
  background-color: #293f90;
  margin-bottom: 10px;
}

.separator-small{
  width: 100%;
  height: 2px;
  background-color: #293f90;
  margin-bottom: 10px;
  margin-top: 2px;
}

/* CONTAINER */
#nav-bar{
  margin-left: 10px;
  margin-top: 5px;
}

.nav-bars{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.nav-button-1, .nav-button-2{
  border-bottom: 2px solid #154572;
  border-right: 2px solid #154572;
  border-top: 2px solid #d2f3f9;
  border-left: 2px solid #d2f3f9;
  border-radius: 8px;
  text-align: center;
  font-family: verdana;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  color: #293f90;
  padding: 6px;
  margin-bottom: 8px;
  background-color: #DAF2F1;
}

.nav-button-1:hover, .nav-button-2:hover{
  border-bottom: 2px solid #d2f3f9;
  border-right: 2px solid #d2f3f9;
  border-top: 2px solid #154572;
  border-left: 2px solid #154572;
  background-color: rgba(200, 220, 200, 0.35);
  cursor: pointer;
}

.nav-button-1:active, .nav-button-2:active{
  border-bottom: 2px solid #6491FB;
  border-right: 2px solid #6491FB;
  border-top: 2px solid #154572;
  border-left: 2px solid #154572;
  background-color: #AFC5F9;
  cursor: pointer;
}

.nav-active{
  background-color: #AFC5F9;
  border-bottom: 2px solid #6491FB;
  border-right: 2px solid #6491FB;
  border-top: 2px solid #154572;
  border-left: 2px solid #154572;
}

#cat-2{
  width: 60%;
}

#general{
  padding : 10px;
  margin-left: 10px;
  margin-top: 10px;
  background: rgb(181,232,242);
  border-radius: 20px;
  width: 500px;
}

#advanced, #twitch-chat, #others, #subgift-and-bomb{
  padding : 10px;
  margin-left: 10px;
  margin-top: 10px;
  background: rgb(144,207,221);
  background: linear-gradient(0deg, rgba(144,207,221,1) 0%, rgba(176,224,228,1) 45%, rgba(181,232,242,1) 100%);
  border-radius: 20px;
  width: 500px;
}

#preview{
  margin-left: 13px;
}

/* FORM */
#form-general div{
  display: flex;
  align-items: flex-end;
}

.alerts-form{
  display: flex;
}

.buttons{
  border-bottom: 2px solid #154572;
  border-right: 2px solid #154572;
  border-top: 2px solid #d2f3f9;
  border-left: 2px solid #d2f3f9;
  border-radius: 8px;
  text-align: center;
  font-family: verdana;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  color: #293f90;
  padding: 6px;
  margin-bottom: 8px;
  background-color: rgba(250, 250, 250, 0.35);
}

.buttons:hover{
  border-bottom: 2px solid #d2f3f9;
  border-right: 2px solid #d2f3f9;
  border-top: 2px solid #154572;
  border-left: 2px solid #154572;
  background-color: rgba(200, 220, 200, 0.35);
  cursor: pointer;
}

.buttons:active{
  border-bottom: 2px solid #d2f3f9;
  border-right: 2px solid #d2f3f9;
  border-top: 2px solid #154572;
  border-left: 2px solid #154572;
  background-color: #AFC5F9;
  cursor: pointer;
}

#buttons-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

/* PARAGRAPH LABEL */
#form-general p:not([class="informations inline-text"]){
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: bold;
}

#form-general .labels-general{
  font-weight: bold;
}

#form-general div label{
  font-style: italic;
}

#form-general div .labels-font-normal{
  font-style: normal;
}

.informations{
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 12px;
  font-style: italic;
}

.descriptions{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 15px;
}

#subgift-bomb-config .descriptions:nth-child(2){
  margin-bottom: 3px;
}

.options{
  margin-bottom: 10px;
}

.options:not(:first-child){
  display: flex;
}

#option-subgift-text, #option-bomb-text{
  display: block;
}

/* INPUT */
#form-general input[name="streamlabs-token"]{
  width: 320px;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-style: italic;
}

#form-general input[name="interval-time"]{
  margin-top: 10px;
  width: 40px;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-style: italic;
}

#form-general input[name="base-video-extension"]{
  margin-top: 10px;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-style: italic;
}

#form-general input[name="margin-text-top"]{
  margin-top: 10px;
  width: 40px;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-style: italic;
}

#form-general input[name="center-text"]{
  margin-top: 10px;
  width: 40px;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-style: italic;
}

#form-general input[name="gap-in-between"]{
  margin-top: 10px;
  width: 40px;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-style: italic;
}

#form-general input[name="img-animation-margin"]{
  margin-top: 10px;
  width: 40px;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-style: italic;
}

#general-dot{
  display: inline;
}

#form-general input[name="base-video-name"]{
  display: inline;
  margin-top: 10px;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-style: italic;
}

#form-general input[name="color-text"]{
  margin-top: 10px;
  width: 70px;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-style: italic;
}

.options input{
  background-color: rgba(255,255,255,.4);
  border-radius: 5px;
  padding: 2px;
  border: none;
  font-style: italic;
}

input:disabled{
  background-color: rgba(150,150,150,.4);
}

#form-general input:disabled{
  background-color: rgba(150,150,150,.4);
}

.options input[name='follow-text']{
  width: 370px;
}

.options input[name='subscribe-text']{
  width: 340px;
}

.options input[name='host-text']{
  width: 380px;
}

.options input[name='resubscribe-text']{
  width: 370px;
}

.options input[name='subgift-text']{
  width: 360px;
}

.options input[name='bomb-text']{
  width: 340px;
}

.options input[name='raid-text']{
  width: 380px;
}

.options input[name='bits1-text']{
  width: 340px;
}

.options input[name='bits100-text']{
  width: 310px;
}

.options input[name='bits1000-text']{
  width: 300px;
}

.options input[name='bits5000-text']{
  width: 300px;
}

.options input[name='bits10000-text']{
  width: 350px;
}

.options input[name='donation-text']{
  width: 340px;
}

.options input[type='number']{
  width: 40px;
}


input[name="select-preview"]{
  align-self: center;
  margin-right: 5px;
}

.inline-text{
  margin-left: 2px;
}

.extensions{
  width: 60px;
}

/* TEXT/LINK */
.bold{
    font-weight: bold;
}

a{
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

/* PREVIEW */
#preview-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0;
  margin : 0;
  width: 1245px;
  height: 760px;
  overflow: hidden;
}

#username-select-container{
  margin-bottom: 10px;
}

#username-select-container label{
  font-weight: bold;
}

#username-select-container input{
  margin-right: 5px;
}

.alignement{
  display: block;
  position: relative;
}

#textArea{
  height: 100%;
  width: 600px;
}

#videos{
  width: 660px;
  height: 100%;
  margin-left: -15px;
  overflow: hidden;
}

#textArea img, #textArea p{
  position: absolute;
}

#textBubble{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 30px;
  font-family: verdana;
  margin-top: 40px;
  width: 460px;
  padding-left: 70px;
  padding-right: 70px;
}

#textBubble span{
  margin-left: 6px;
  margin-right: 6px;
}

.video{
  position: absolute;
}

.bubbles-left{
  transform: scaleX(-1);
}

/* ERROR */
.options input.error-input, #form-general input.error-input{
  border: 2px solid red;
}

.error-paragraph{
  font-size: 10px;
  color: red;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}


/* VALIDATION */
.grey{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50,50,50,0.5);
}

.error-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E01F1B;
  border-top: 2px solid #E0AFAD;
  border-left: 2px solid #E0AFAD;
  border-right: 2px solid #610D0C;
  border-bottom: 2px solid #610D0C;
}

.error-container p{
  font-weight: bold;
  margin : 16px;
}

#ok-button{
  font-weight: bold;
  background-color: rgba(250, 250, 250, 0.8);
  width: 60px;
  height: 30px;
  margin-bottom: 16px;
  border-top: 2px solid #E0AFAD;
  border-left: 2px solid #E0AFAD;
  border-right: 2px solid #610D0C;
  border-bottom: 2px solid #610D0C;
}

#ok-button:hover{
  background-color: rgba(200, 200, 200, 0.8);
  cursor: pointer;
  border-top: 2px solid #610D0C;
  border-left: 2px solid #610D0C;
  border-right: 2px solid #E0AFAD;
  border-bottom: 2px solid #E0AFAD;
}

#copy-button{
  font-weight: bold;
  background-color: rgba(250, 250, 250, 0.8);
  width: 150px;
  height: 30px;
  margin-bottom: 16px;
  border-top: 2px solid #E0AFAD;
  border-left: 2px solid #E0AFAD;
  border-right: 2px solid #610D0C;
  border-bottom: 2px solid #610D0C;
}

#copy-button:hover{
  background-color: rgba(200, 200, 200, 0.8);
  cursor: pointer;
  border-top: 2px solid #610D0C;
  border-left: 2px solid #610D0C;
  border-right: 2px solid #E0AFAD;
  border-bottom: 2px solid #E0AFAD;
}

.config-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(181,232,242);
  border-top: 2px solid #BFF4FF;
  border-left: 2px solid #BFF4FF;
  border-right: 2px solid #86ABB3;
  border-bottom: 2px solid #86ABB3;
}

.config-paragraph{
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 12px;
}

.config-title{
  font-weight: bold;
  margin : 16px;
}

.text-area{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
